<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload para S3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/EY_COLOR_ICO.ico') }}" />
</head>
<body>
    <div class="container-uplpad">
        <div class="row justify-content-center">
            <div class="card-login o-hidden border-0 shadow-lg my-5">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <!-- Logo Petrobras -->
                                <img class="img-upload" src="{{ url_for('static', filename='img/EY_COLOR.png') }}" alt="Logo EY">
                                <h1 class="h4 text-gray-900 mb-4">Upload de arquivos para S3</h1>
                            </div>

                            <!-- Exibir mensagens de flash -->
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            <div class="flash-messages">
                                {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">{{ message }}</div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endwith %}
                            
                           <!-- Card de Instrução -->
                           <div class="card-txt text-center mb-4" style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                               <div class="card-txt-body">
                                   <p class="mb-3" style="font-size: 16px; color: #333;">
                                       <strong>Os documentos inseridos serão utilizados no agente Amparo.</strong>
                                       <br>Para garantir o bom funcionamento do agente, é necessário que os arquivos sigam os nomes indicados a seguir:
                                   </p>
                                   <ul class="list-group list-group-flush" style="text-align: left; max-width: 300px; margin: 0 auto; color: #555;">
                                        <li>guia_de_preenchimento.pdf;</li>
                                        <li>manual_orientativo.pdf;</li>
                                        <li>resolucao_credenciamento.pdf;</li>
                                        <li>resolucao_normas.pdf;</li>
                                        <li>tipos_projetos.pdf;</li>
                                        <li>despesas_admitidas.xlsx.</li>
                                   </ul>
                               </div>
                           </div>

                       
                            <!-- Formulário de Upload -->
                            <form id="uploadForm" action="{{ url_for('upload_s3.upload_to_s3') }}" method="post" enctype="multipart/form-data" class="text-center">
                                <div class="form-group d-flex align-items-center justify-content-center">
                                    <!-- Input de arquivo centralizado -->
                                    <input type="file" name="file" class="form-control-file" id="fileInput" required style="display:none;">
                                    <label for="fileInput" class="btn-file">Escolher arquivo</label>
                                    <span id="fileName" class="ml-2" style="color: black;">Nenhum arquivo selecionado</span>
                                    <!-- Botão de upload -->
                                    <button type="submit" class="btn-file">Upload</button>
                                </div>
                            </form>
                            <!-- Botão para gerar o índice -->
                            <div class="text-center">
                                <button id="generateIndexButton" class="btn-index-enabled">Gerar Index</button>
                            </div>
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
                            <script>
                                // Script para mostrar o nome do arquivo selecionado
                                document.getElementById('fileInput').addEventListener('change', function() {
                                    var fileName = this.files[0] ? this.files[0].name : 'Nenhum arquivo selecionado';
                                    document.getElementById('fileName').textContent = fileName;
                                });

                                // Função para enviar requisição AJAX para gerar o índice
                                document.getElementById('generateIndexButton').addEventListener('click', function() {
                                    fetch("{{ url_for('upload_s3.generate_index_amparo') }}", {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                        },
                                        body: JSON.stringify({}), 
                                    })
                                    .then(response => response.json())
                                    .then(data => {
                                        alert(data.message); // Exibe a mensagem de sucesso ou erro
                                    })
                                    .catch(error => {
                                        alert('Erro ao gerar o índice.');
                                        console.error('Erro:', error);
                                    });
                                });
                            </script>
</body>
</html>